# env
.env

# experiments folder
experiments/img_outputs/
experiments/legacy/

# venv
.venv/

# cache files
__pycache__/

#drawio files
*.drawio
*.drawio.bkp

# outputs
img_outputs
data/KBs/*

experiment.ipynb
experiment_evals.ipynb
test_data
evals.ipynb
df_evals_llmp_metrics.csv
test_kb_agent.ipynb
test_targeted_ingest_pip.iptnb

schemas
exp_outputs